 Ignore Everything in the root except for wp-content directory
/*
!.gitignore
!wp-content/

# Ignore Everything in the wp-content directory except for themes & plugins
wp-content/*
!wp-content/themes/
!wp-content/plugins/

# Ignore Misc File Types and Files
*.log
*.back
*.bak
*.sql
.htaccess
.maintenance
